<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" routerLink="dashboard">Chores</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="chores" routerLinkActive="active">Chores</a></li>
      </ul>
    </div>
  </div>
</nav>
